/* General container */
.form-container {
    max-width: 50%;  /* Haciendo el contenedor más ancho */
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .input-nombre, .input-descripcion, .input-imagen, .input-puntuacion {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .input-nombre {
    font-size: 18px;
  }
  
  textarea.input-descripcion {
    height: 100px;
  }
  
  .input-puntuacion {
    width: 100%;
  }
  
  .puntuacion-display {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-top: 5px;
  }
  
  .btn-buscar, .btn-publicar {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
    transition: background-color 0.3s;
  }
  
  .btn-buscar:hover, .btn-publicar:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  