

/*CONTENIDO DE JUEGOS*/
.contenedor-juegos {
    padding-top: 60px; /* espacio para que no tape el menú */
  }
  
  .menu-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* ocupa todo el ancho arriba */
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10; /* asegura que esté arriba */
    grid-row: 1;

  }
  
  .contenido-juego {
    padding: 20px;
  }


 /* CONTENIDO PRINCIPAL*/
.pagina-contenedor {
  min-height: 100vh; /* corregido */
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.contenido-principal {
  padding-top: 80px; /* igual que la altura del menú */
  overflow-y: auto;
  padding-bottom: 80px;
  grid-row: 2;
}
.contenido-principal-publicar {
  padding-top: 100px; /* igual que la altura del menú */
  overflow-y: auto;
  padding-bottom: 80px;
  grid-row: 2;
}

.contenido-principal-busqueda {
  padding-top: 150px; /* igual que la altura del menú */
  overflow-y: auto;
  padding-bottom: 80px;
  grid-row: 2;
}
.contenido-principal-perfil {
  padding-top: 90px; /* igual que la altura del menú */
  overflow-y: auto;
  padding-bottom: 80px;
  grid-row: 2;
}
.contenido-principal-eleccion  {
  padding-top: 40px; /* igual que la altura del menú */
  overflow-y: auto;
  padding-bottom: 80px;
  grid-row: 2;
}
.contenido-principal-detalleJuego {
  padding-top: 65px; /* igual que la altura del menú */
  overflow-y: auto;
  padding-bottom: 80px;
  grid-row: 2;
}



.footer {
  grid-row: 3;
}